/* ==UserStyle==
@name      naver.css
@namespace https://twilczynski.com/usercss
@author    tomasz86 <twilczynski@mailbox.org> (https://twilczynski.com)
@version   1.0.4
@updateURL https://twilczynski.com/usercss/naver.user.css
==/UserStyle== */

@-moz-document domain("naver.com") {
	*,
	:before,
	:after	{
		font-family: Dotum, sans-serif !important;
	}
}
