/* ==UserStyle==
@name      scrollbar.css
@namespace https://twilczynski.com/usercss
@author    tomasz86 <twilczynski@mailbox.org> (https://twilczynski.com)
@version   1.0.0
@updateURL https://twilczynski.com/usercss/scrollbar.user.css
==/UserStyle== */

html { scrollbar-color: auto !important; }

::-webkit-scrollbar {
	height: 18px !important;
	width: 18px !important;
}

::-webkit-scrollbar-button:single-button {
	background-repeat: no-repeat !important;
	background-size: 10px !important;
	height: 16px !important;
	width: 16px !important;
}

::-webkit-scrollbar-button:single-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner { background-color: #d5ccbb !important; }

::-webkit-scrollbar-button:single-button,
::-webkit-scrollbar-thumb { border: thin outset #d5ccbb !important; }

::-webkit-scrollbar-thumb { border-radius: 0 !important; }

::-webkit-scrollbar-track-piece { background-color: #eae5dd !important; }

::-webkit-scrollbar-button:single-button:vertical { background-position: 50% 100% !important; }
::-webkit-scrollbar-button:single-button:horizontal { background-position: 100% 50% !important; }
::-webkit-scrollbar-button:single-button:vertical:decrement { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 0, 0)'><polygon points='50,00 0,50 100,50'/></svg>") !important; }
::-webkit-scrollbar-button:single-button:vertical:increment { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 0, 0)'><polygon points='0,0 100,0 50,50'/></svg>") !important; }
::-webkit-scrollbar-button:single-button:horizontal:decrement { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 0, 0)'><polygon points='0,50 50,100 50,0'/></svg>") !important; }
::-webkit-scrollbar-button:single-button:horizontal:increment { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 0, 0)'><polygon points='0,0 0,100 50,50'/></svg>") !important; }
