/* ==UserStyle==
@name      startpage.css
@namespace https://twilczynski.com/usercss
@author    tomasz86 <twilczynski@mailbox.org> (https://twilczynski.com)
@version   1.0.3
@updateURL https://twilczynski.com/usercss/startpage.user.css
==/UserStyle== */

@-moz-document domain("startpage.com") {
	body {
		/* background-color: rgb(255,255,255) !important; */
	}

	p {
		/* color: rgb(0,0,0) !important; */
	}

	.w-gl__anonymous-view-url {
		/* display: none !important; */
	}
}
