/* ==UserStyle==
@name      whatsapp.css
@namespace https://twilczynski.com/usercss
@author    tomasz86 <twilczynski@mailbox.org> (https://twilczynski.com)
@version   1.0.1
@updateURL https://twilczynski.com/usercss/whatsapp.user.css
==/UserStyle== */

@-moz-document domain("web.whatsapp.com") {
	.xrtxmta.x1bhl96m {
		text-shadow: none !important;
	}
}
